{% extends "layout.html" %}

{% block title %}Video Player {% endblock %}

{% block style %}
   
{% endblock %}
{% block script %}

{% endblock %}
{% block content %}	
<ol class="breadcrumb">
{% if path_crumbs %}
{% for crumb in path_crumbs%}
  <li class="breadcrumb-item"><a href="{{crumb}}">{{crumb}}</a></li>
  {% endfor %}
  {% endif %}	
</ol>				



<div class="list-group">
 {%if folders %}
        {%for folder in folders %}

  	  <a href="/filepath/{{path}}%%{{folder}}" class="list-group-item list-group-item-action active">
    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp{{folder}}
  </a>
  {% endfor %}	
  {% endif %}	
  {%if files%}
	{%for file in files %}
  <a href="/vidplayer/{{path.replace("/","%%")}}%%{{file}}" class="list-group-item list-group-item-action">{{file}}</a>
  {% endfor %}
  {% endif %}			
</div>
{% endblock %}	